body {
	background-image: url("../images/theme1.jpg");
	background-size: 100% 100%;
}

.container {
	background-image: url("../images/theme1.jpg");
}

#gamePic {
	max-height: 100%;
	max-width: 100%;
}

header {
	text-align: center;
}

.jumbotron {
	background-image: url("../images/theme1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}	

h1 {
	background-color: orange;
}

.name {
	background-color: orange;
}